{% extends 'crm/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row pt-50 pb-50">
        <div class="col-lg-4 offset-lg-4">
            <h1 class="text-center">Create Order</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-outline-success" name="Submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}