<div class="container-fluid row-spacing">
    <div class="row pt-50 pb-50">
        <div class="col-lg-4 offset-lg-4">
            <h1 class="text-center">Admin Dashboard</h1>
        </div>
    </div>
    <div class="section-spacing">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center pb-30">At A glance</h2>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="card text-center" id="total-orders">
                    <div class="card-body">
                        <h4 class="card-title">Total Customers</h4>
                        <p class="card-text">{{ total_customers }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" id="total-orders">
                    <div class="card-body">
                        <h4 class="card-title">Total Orders</h4>
                        <p class="card-text">{{ total_orders }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="card text-center" id="orders-delivered">
                    <div class="card-body">
                        <h4 class="card-title">Orders Delivered</h4>
                        <p class="card-text">{{ delivered_orders }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center" id="orders-pending">
                    <div class="card-body">
                        <h4 class="card-title">Orders Pending</h4>
                        <p class="card-text">{{ pending_orders }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>